#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Load data (users.csv, posts.csv)

In [2]:
users = pd.read_csv('users.csv')
users

,Unnamed: 0,id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url
0,0,107658,ivordesign,NaN,NaN,2009-05-15 12:21:51.230000+00:00,2014-08-28 17:43:18.040000+00:00,United Kingdom,305,2,0,91,NaN,http://www.ivorthedesigner.co.uk
1,1,218597,icabod,NaN,NaN,2009-11-25 13:30:42.460000+00:00,2020-05-29 11:44:18.140000+00:00,United Kingdom,6559,361,25,374,NaN,http://icablog.org/
2,2,326360,rbaker86,<p>Software developer and technology enthusias...,NaN,2010-04-26 21:18:19.857000+00:00,2017-12-04 16:49:29.297000+00:00,United Kingdom,1802,40,14,97,NaN,http://na
3,3,379556,Rui Marques,<p>Engineer and Automation Architect at Vonage...,NaN,2010-06-29 23:32:49.870000+00:00,2020-05-28 14:49:23.427000+00:00,United Kingdom,2335,125,10,261,NaN,http://ruimarques.io
4,4,450456,Jules,NaN,NaN,2010-09-17 09:47:09.397000+00:00,2020-05-13 07:03:58.113000+00:00,United Kingdom,7746,256,50,3598,https://i.stack.imgur.com/4Y8Zf.jpg?s=128&g=1,https://www.julesmoorhouse.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14843,14843,574332,Captain Caveman,NaN,NaN,2011-01-13 14:08:49.653000+00:00,2018-05-24 20:33:44.657000+00:00,United Kingdom,41,10,0,6,NaN,NaN
14844,14844,7155452,Mode-X,<p>Just getting into Android App development. ...,NaN,2016-11-14 06:43:00.503000+00:00,2019-02-05 22:05:38.527000+00:00,United Kingdom,41,0,0,6,https://www.gravatar.com/avatar/0abeeedd0dd8d3...,NaN
14845,14845,5529001,V.Savage,NaN,NaN,2015-11-05 11:28:05.457000+00:00,2016-03-09 12:16:33.497000+00:00,United Kingdom,41,0,0,11,https://i.stack.imgur.com/tSAyG.jpg,NaN
14846,14846,4105549,Tom Baker,"<p>Support Developer</p>\r\n\r\n<p>Using,</p>\...",NaN,2014-09-26 10:43:52.033000+00:00,2020-05-27 15:34:09.103000+00:00,United Kingdom,41,2,0,11,https://www.gravatar.com/avatar/19c36d2481ad65...,http://N/A
14847,14847,4886640,gopisaba,<p>Individual contributor who loves Infrastruc...,NaN,2015-05-11 08:58:26.783000+00:00,2020-05-30 21:55:14.380000+00:00,United Kingdom,41,13,0,11,https://www.gravatar.com/avatar/60302cf41ce053...,NaN

In [3]:
posts = pd.read_csv('posts.csv')
posts

,id,owner_user_id,score,view_count,comment_count,favorite_count
0,30336926,NaN,1,14,3,NaN
1,36873524,NaN,1,18,0,1.0
2,36605876,NaN,1,19,0,NaN
3,36718461,NaN,1,17,0,NaN
4,30434893,NaN,0,15,0,NaN
...,...,...,...,...,...,...
325605,37142382,6315949.0,0,15,0,1.0
325606,36884286,3733872.0,0,20,1,1.0
325607,36140188,5216651.0,0,12,0,1.0
325608,36293699,4811040.0,1,20,1,1.0
325609,36028646,5910006.0,0,19,0,1.0

#### 3. Rename id column to user_id

In [4]:
users.rename(columns={'id':'user_id'},inplace=True)
users

,Unnamed: 0,user_id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url
0,0,107658,ivordesign,NaN,NaN,2009-05-15 12:21:51.230000+00:00,2014-08-28 17:43:18.040000+00:00,United Kingdom,305,2,0,91,NaN,http://www.ivorthedesigner.co.uk
1,1,218597,icabod,NaN,NaN,2009-11-25 13:30:42.460000+00:00,2020-05-29 11:44:18.140000+00:00,United Kingdom,6559,361,25,374,NaN,http://icablog.org/
2,2,326360,rbaker86,<p>Software developer and technology enthusias...,NaN,2010-04-26 21:18:19.857000+00:00,2017-12-04 16:49:29.297000+00:00,United Kingdom,1802,40,14,97,NaN,http://na
3,3,379556,Rui Marques,<p>Engineer and Automation Architect at Vonage...,NaN,2010-06-29 23:32:49.870000+00:00,2020-05-28 14:49:23.427000+00:00,United Kingdom,2335,125,10,261,NaN,http://ruimarques.io
4,4,450456,Jules,NaN,NaN,2010-09-17 09:47:09.397000+00:00,2020-05-13 07:03:58.113000+00:00,United Kingdom,7746,256,50,3598,https://i.stack.imgur.com/4Y8Zf.jpg?s=128&g=1,https://www.julesmoorhouse.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14843,14843,574332,Captain Caveman,NaN,NaN,2011-01-13 14:08:49.653000+00:00,2018-05-24 20:33:44.657000+00:00,United Kingdom,41,10,0,6,NaN,NaN
14844,14844,7155452,Mode-X,<p>Just getting into Android App development. ...,NaN,2016-11-14 06:43:00.503000+00:00,2019-02-05 22:05:38.527000+00:00,United Kingdom,41,0,0,6,https://www.gravatar.com/avatar/0abeeedd0dd8d3...,NaN
14845,14845,5529001,V.Savage,NaN,NaN,2015-11-05 11:28:05.457000+00:00,2016-03-09 12:16:33.497000+00:00,United Kingdom,41,0,0,11,https://i.stack.imgur.com/tSAyG.jpg,NaN
14846,14846,4105549,Tom Baker,"<p>Support Developer</p>\r\n\r\n<p>Using,</p>\...",NaN,2014-09-26 10:43:52.033000+00:00,2020-05-27 15:34:09.103000+00:00,United Kingdom,41,2,0,11,https://www.gravatar.com/avatar/19c36d2481ad65...,http://N/A
14847,14847,4886640,gopisaba,<p>Individual contributor who loves Infrastruc...,NaN,2015-05-11 08:58:26.783000+00:00,2020-05-30 21:55:14.380000+00:00,United Kingdom,41,13,0,11,https://www.gravatar.com/avatar/60302cf41ce053...,NaN

#### 4. Rename id column to post_id and owner_user_id to user_id

In [5]:
posts.rename(columns={'id':'post_id', 'owner_user_id':'user_id'},inplace=True)
posts

         post_id    user_id  score  view_count  comment_count  favorite_count
0       30336926        NaN      1          14              3             NaN
1       36873524        NaN      1          18              0             1.0
2       36605876        NaN      1          19              0             NaN
3       36718461        NaN      1          17              0             NaN
4       30434893        NaN      0          15              0             NaN
...          ...        ...    ...         ...            ...             ...
325605  37142382  6315949.0      0          15              0             1.0
325606  36884286  3733872.0      0          20              1             1.0
325607  36140188  5216651.0      0          12              0             1.0
325608  36293699  4811040.0      1          20              1             1.0
325609  36028646  5910006.0      0          19              0             1.0

[325610 rows x 6 columns]

#### 5. Define new dataframes for users and posts with the following selected columns:
    **users columns**: user_id, reputation,views,up_votes,down_votes
    **posts columns**: post_id, score,user_id,view_count,comment_count

In [6]:
filtered_users = users[['user_id','reputation','views','up_votes','down_votes']]
filtered_users

       user_id  reputation  views  up_votes  down_votes
0       107658         305     91         2           0
1       218597        6559    374       361          25
2       326360        1802     97        40          14
3       379556        2335    261       125          10
4       450456        7746   3598       256          50
...        ...         ...    ...       ...         ...
14843   574332          41      6        10           0
14844  7155452          41      6         0           0
14845  5529001          41     11         0           0
14846  4105549          41     11         2           0
14847  4886640          41     11        13           0

[14848 rows x 5 columns]

In [7]:
filtered_posts = posts[['post_id','score','user_id','view_count','comment_count']]
filtered_posts

         post_id  score    user_id  view_count  comment_count
0       30336926      1        NaN          14              3
1       36873524      1        NaN          18              0
2       36605876      1        NaN          19              0
3       36718461      1        NaN          17              0
4       30434893      0        NaN          15              0
...          ...    ...        ...         ...            ...
325605  37142382      0  6315949.0          15              0
325606  36884286      0  3733872.0          20              1
325607  36140188      0  5216651.0          12              0
325608  36293699      1  4811040.0          20              1
325609  36028646      0  5910006.0          19              0

[325610 rows x 5 columns]

#### 6. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [8]:
filtered_users.dtypes

user_id       int64
reputation    int64
views         int64
up_votes      int64
down_votes    int64
dtype: object

In [9]:
filtered_users.shape

(14848, 5)

In [10]:
filtered_posts.dtypes

post_id            int64
score              int64
user_id          float64
view_count         int64
comment_count      int64
dtype: object

In [11]:
filtered_posts.shape

(325610, 5)

In [12]:
# Inner Join > To keep only rows that match from the data frames (Intersection). Default
# Outer Join > To keep all rows from both data frames (Union)

In [13]:
merged_df = pd.merge(filtered_users, filtered_posts, on='user_id')
merged_df

,user_id,reputation,views,up_votes,down_votes,post_id,score,view_count,comment_count
0,450456,7746,3598,256,50,34989087,0,19,0
1,450456,7746,3598,256,50,4142174,0,15,0
2,1517244,4172,224,1362,32,37211628,2,18,0
3,1870509,897,105,86,2,30260248,1,11,4
4,101719,4055,332,174,16,34528617,0,18,0
...,...,...,...,...,...,...,...,...,...
1060,4295902,1,4,0,0,31038301,0,10,0
1061,2856201,11,21,0,0,19348144,0,19,2
1062,5882818,11,3,0,0,35199880,0,20,2
1063,6241297,13,2,0,0,36798683,0,12,0
1064,592420,21,30,2,0,36739521,0,5,0

In [14]:
# the type of the user_id merge dataframe is int!
merged_df.dtypes

user_id          int64
reputation       int64
views            int64
up_votes         int64
down_votes       int64
post_id          int64
score            int64
view_count       int64
comment_count    int64
dtype: object

#### 7. How many missing values do you have in your merged dataframe?

In [15]:
# Inner Join > Intersection between dataframes(Default)

In [16]:
merged_df.isnull().sum()

user_id          0
reputation       0
views            0
up_votes         0
down_votes       0
post_id          0
score            0
view_count       0
comment_count    0
dtype: int64

There are no missing values

#### Bonus: Identify extreme values in your merged dataframe, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder. Hint: post_id cannot have outliers!

In [17]:
# IQR (interquartile range)

# 25th percentile - (IQRx1.5) 
# 25th percentile + (IQRx1.5)

In [18]:
# calculation of the interquartile ranges
stats = merged_df.describe().transpose()
stats['IQR'] =stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
user_id,1065.0,2.280169e+06,1.833959e+06,274.0,653292.0,1996838.0,3545704.0,6449207.0,2892412.0
reputation,1065.0,7.251177e+03,2.402161e+04,1.0,246.0,1145.0,5206.0,287170.0,4960.0
views,1065.0,6.152451e+02,1.497408e+03,0.0,39.0,145.0,496.0,23103.0,457.0
up_votes,1065.0,3.976883e+02,7.476289e+02,0.0,15.0,96.0,375.0,7886.0,360.0
down_votes,1065.0,4.941502e+01,1.773088e+02,0.0,0.0,3.0,20.0,2692.0,20.0
post_id,1065.0,3.398846e+07,4.495709e+06,4142174.0,32891107.0,35563172.0,36991120.0,37769864.0,4100013.0
score,1065.0,1.239437e-01,5.781415e-01,-7.0,0.0,0.0,0.0,3.0,0.0
view_count,1065.0,1.560657e+01,3.711159e+00,3.0,13.0,17.0,19.0,20.0,6.0
comment_count,1065.0,9.267606e-01,1.627503e+00,0.0,0.0,0.0,1.0,11.0,1.0

In [19]:
# create an empty data frame called outliers with the same columns as our data set

outliers= pd.DataFrame(columns=merged_df.columns)

In [20]:
# loop thrtough each column of the data
for col in stats.index:
    
    # .at get a single value from a a dataframe
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = merged_df[(merged_df[col] < lower) | (merged_df[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results, sort=True)
outliers

,Outlier,comment_count,down_votes,post_id,reputation,score,up_votes,user_id,view_count,views
30,reputation,0,574,37466249,58371,0,2248,37947,19,3667
33,reputation,0,28,31291218,21815,0,2100,15825,19,1305
44,reputation,0,778,35155919,13685,2,920,789657,13,4473
95,reputation,0,98,36953621,244872,0,934,6068,11,11737
96,reputation,0,98,33842576,244872,0,934,6068,6,11737
...,...,...,...,...,...,...,...,...,...,...
1022,comment_count,3,27,26692520,5791,0,112,3562271,18,326
1036,comment_count,6,3,36718577,417,0,236,875393,18,53
1037,comment_count,3,87,37613295,2415,0,225,2762432,12,190
1051,comment_count,8,0,35987581,147,0,34,1551819,17,9
1054,comment_count,9,0,36695604,17,0,0,4556923,20,13

In [21]:
outliers.to_csv('outliers.csv')